header {
  z-index: 999 !important;
}
.header-message {
  width: 100%;
  background-color: white;
}
.header-message div:nth-child(1) {
  width: 65%;
}
.header-message div:nth-child(1) small {
  font-size: 11px;
  font-weight: bold;
}
.nav-item .nav-link {
  font-weight: bold;
  font-size: 0.8rem;
}
.btn-login-register a {
  font-size: 0.8rem;
  font-weight: bold;
}
.title-header {
  font-weight: 900;
}
@media screen and (max-width: 767px) {
  .header-message {
    display: none;
  }
}

#layer-opacity {
  left: 0;
  right: 0;
  bottom: 0;
  top: 66px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}
.form-search-layer {
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
}
.form-search-layer input {
  width: 90%;
}
.form-search-layer input::placeholder {
  font-size: 12px;
}
.layer-active {
  visibility: hidden;
}
.icon-search {
  border: none;
  padding: 0;
  background-color: transparent;
  color: rgb(24, 101, 168);
}

.navbar-active {
  color: black !important;
  background-color: white;
  opacity: 0.7;
}
/* @media screen and (min-width: 768px) {
  nav {
    height: 80px;
    display: flex;
  }
  .items-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
  }
  .header-message div:nth-child(2) {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .header-message div:nth-child(1),
  .header-message div:nth-child(3) {
    width: 5%;
  }
  .header-message div:nth-child(2) small {
    text-align: center;
  }
} */
@media screen and (min-width: 768px) {
  nav {
    height: 80px;
    display: flex;
  }
  .items-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .header-message div {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar > .container-fluid.items-navbar {
    justify-content: space-between;
  }
  div.collapse.navbar-collapse {
    flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-message {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header-message div:nth-child(1) {
    width: 65% !important;
  }
  .items-navbar {
    width: 65%;
  }
}

/* @media screen and (min-width: 1020px) {
  .header-message {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header-message div:nth-child(1),
  .header-message div:nth-child(3) {
    width: 17.5%;
  }
  .header-message div:nth-child(2) {
    width: 65% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .header-message div {
  }
  .header-message div:nth-child(2) small {
    flex-grow: 1;
  }
} */
