@keyframes carousel-images {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-33.33%);
  }
  66% {
    transform: translateX(-66.66%);
  }
}

@keyframes carousel-images-estreno-cartelera {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%);
  }
}

.btn-disable {
  color: rgb(165, 163, 163);
  cursor: auto;
}

main section {
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
}

.title-page {
  height: 15vw !important;
}
.title-cine {
  height: 25vw !important;
}
.text-hover:hover {
  color: rgba(77, 176, 233, 0.918) !important;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 756px) {
  .title-page {
    height: 18vw !important;
  }
  h1.fw-bold svg {
    width: 80px;
    height: 80px;
    color: #eabb00;
  }

  main section {
    padding-left: 10px;
    padding-right: 10px;
  }
  main section:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .title-page {
    height: 220px !important;
  }
  .title-cine {
    height: 200px !important;
  }
}
/********************** Seccion Carousel principal ***************************/

.carousel-info-number {
  position: absolute;
  bottom: -15px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; */
  left: 40%;
  left: calc(calc(100% - 5rem) / 2);
}
.carousel-info-number p:after {
  /* border-bottom: thick solid #eabb00;
  background: #fecc00; */
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 0; */
  top: 0;
  /* left: 50%; */
  /* margin-left: -2.5rem; */
  width: 5rem;
  height: 0.25rem;
  background: #fecc00;
}
.carousel-info-number p {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.carousel-title {
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  vertical-align: middle;
}
.carousel-title h5 {
  flex-grow: 1;
}
/********************** Fin Seccion Carousel principal ***************************/

/********************** Seccion Buscador ***************************/
.movie-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.movie-search,
.movie-slider {
  height: 110px !important;
  background-color: rgb(236, 236, 236);
}
.movie-search a {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .movie-search {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
  }
  .movie-search:first-child {
    flex-grow: 2;
  }
}
/********************** Fin Seccion Buscador ***********************/

/********************** Inicio Seccion Estrenos Semana y Cartelera ***********************/
.btn-movie-week,
.btn-movie-cartelera {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  color: #333;
}
.btn-movie-week:first-child,
.btn-movie-cartelera:first-child {
  margin-right: 8px;
}
.estreno-carousel .carousel,
.cartelera-carousel .carousel {
  /* max-width: 1050px; */
  max-width: 1050px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.estreno-carousel .carousel .slides,
.cartelera-carousel .carousel .slides {
  padding-left: 0;
  width: 300%;
  height: 220px;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-images-estreno-cartelera ease-in-out;
}
.estreno-carousel .carousel .slides .slide,
.cartelera-carousel .carousel .slides .slide {
  margin-right: 30px;
}
.estreno-carousel-btn,
.cartelera-carousel-btn {
  width: 100%;
  height: 30px;
}
.estreno-carousel-btn button,
.cartelera-carousel-btn button {
  background-color: transparent;
  border: none;
  color: rgb(138, 136, 136);
}
.estreno-carousel-btn button i,
.cartelera-carousel-btn button i {
  font-size: 20px;
}
.estreno-carousel-btn .btn-slider-left,
.cartelera-carousel-btn .btn-slider-left {
  right: 25px;
}
.estreno-carousel-btn .btn-slider-right,
.cartelera-carousel-btn .btn-slider-right {
  right: 0;
}

.carousel-image-20 {
  transform: translateX(-20%);
}
.carousel-image-40 {
  transform: translateX(-40%);
}
.carousel-image-60 {
  transform: translateX(-60%);
}
.carousel-image-80 {
  transform: translateX(-80%);
}
/********************** Fin Seccion Estrenos Semana y Cartelera ***********************/

/********************** Seccion ListaEstrenosMasEsperados ***************************/
.estrenos-esperados-title {
  margin-bottom: 1rem;
}
.estrenos-esperados-title h3 {
  margin-bottom: 0px;
}
.estrenos-esperados-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.estrenos-esperados-pelicula {
  font-size: 0.8125rem;
  display: block;
  flex-grow: 1;
}
.estrenos-esperados-pelicula p {
  margin-bottom: 0px;
}
.estrenos-esperados-cine {
}
.estrenos-esperados-cine span {
  width: 100%;
  background-color: aqua;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #eabb00;
  background-color: #ffea94;
  margin-right: 8px;
}
.estrenos-esperados-cine a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.collapse-premiere {
  font-size: 0.8rem;
  text-align: center;
}
.slides-movies-today article {
  text-align: center;
}
.slides-movies-today img {
  width: 147px;
  height: 196px;
  object-fit: cover;
}
.slides-movies-today figcaption p {
  font-size: 10px;
  font-weight: bold;
}
/********************** Fin Seccion ListaEstrenosMasEsperados ***************************/

/********************** Inicio Seccion Streaming ***************************/
.title-streaming-top {
  position: relative;
  margin-bottom: 20px;
}
.title-streaming:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2.5rem;
  width: 5rem;
  height: 0.25rem;
  background: #fecc00;
}
.title-streaming h2 {
  text-align: center;
  padding: 1.25rem 0.625rem 0;
  /* border-top: thick solid #fecc00; */
}
.streaming-subtitle:hover {
  color: rgba(77, 176, 233, 0.918);
}

.streaming-card {
  position: relative;
  width: 320px;
  margin-right: 50px;
}
.streaming-card figure img {
  height: 220px;
  object-fit: cover;
}
/* .streaming-card.text-decoration-none:hover {
  color: rgb(31, 15, 102);
  opacity: 0.6;
  transition: all 1s ease-in;
} */
.streaming-card .layer {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 0; */
  left: -160px;
  bottom: 0;
  /* width: 100%;
  height: 220px; */
  width: 320px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.streaming-card .layer p {
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}
.streaming-card .layer p:hover {
  color: rgba(77, 176, 233, 0.918);
  transition: all 0.5s ease-in;
}

.carousel-image-0,
.carousel-image-series-0 {
  transform: translateX(0%);
}
.carousel-image-33,
.carousel-image-series-33 {
  transform: translateX(-33.33%);
}
.carousel-image-66,
.carousel-image-series-66 {
  transform: translateX(-66.66%);
}
.streaming-carousel .carousel,
.streaming-carousel-series .carousel-series {
  /* padding: 2rem 0; */
  max-width: 1050px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.streaming-carousel .carousel .slides,
.streaming-carousel-series .carousel-series .slides-series {
  padding-left: 0;
  width: 300%;
  height: 220px;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-images ease-in-out;
}
.streaming-carousel .carousel .slides .slide,
.streaming-carousel-series .carousel-series .slides-series .slide-series {
  margin-right: 30px;
}
.streaming-carousel-btn,
.streaming-carousel-btn-series {
  width: 100%;
  height: 30px;
}
.streaming-carousel-btn button,
.streaming-carousel-btn-series button {
  background-color: transparent;
  border: none;
  color: rgb(138, 136, 136);
}
.streaming-carousel-btn button i,
.streaming-carousel-btn-series button i {
  font-size: 20px;
}
.streaming-carousel-btn .btn-slider-left,
.streaming-carousel-btn-series .btn-slider-left-series {
  right: 25px;
}
.streaming-carousel-btn .btn-slider-right,
.streaming-carousel-btn-series .btn-slider-right-series {
  right: 0;
}
/********************** Fin Seccion Streaming ***************************/

/********************** Fin Seccion News Movie ***************************/
.subtitle-news {
  margin-bottom: 20px;
}
.block-articles-movie-news {
  margin-bottom: 1rem;
}
.block-info-movie-news {
  margin-left: 1.5rem;
}
.news-info h5 {
  font-size: 12px;
}
.link-title-news {
}
.link-title-news a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  font-size: 1.125rem;
}
.link-title-news a:hover {
  color: rgba(77, 176, 233, 0.918);
  transition: all 0.5s ease-in-out;
}
.img-news-thumb-block {
  /* width: 240px;
  height: 135px; */
  width: 50vh;
}

@media screen and (min-width: 640px) {
  .img-news-thumb-block {
    width: 240px;
  }
}
/********************** Fin Seccion News Movie ***************************/

@media screen and (max-width: 568px) {
  .img-carousel {
    height: 40vw;
  }
}
@media screen and (min-width: 569px) {
  .img-carousel {
    height: 40vw;
  }
}
@media screen and (min-width: 768px) {
  .img-carousel {
    height: 300px !important;
  }
  .carousel-title-md {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    padding: 0px 40px;
  }
  .carousel-title-md h5 {
    text-shadow: 4px 2px #333;
  }
}

@media screen and (min-width: 820px) {
  .img-carousel {
    height: 320px !important;
  }
}

@media screen and (min-width: 920px) {
  .img-carousel {
    height: 340px !important;
  }
}

@media screen and (min-width: 1020px) {
  .img-carousel {
    height: 400px !important;
  }
}
